.boxStyle
{
    padding: 10px;
    border: 3px solid gray
}
.boxSpace
{
    padding: 10px;
}
.textBox
{
    padding: 4px;
    border-radius: 4px;
}
.btn
{
    background: #ffffff;
    border-color: #000000;
    border-radius: 20px;
    cursor:pointer;
}
.inlineElement
{
    display: inline-block;
    vertical-align: top;
}
.listElement
{
    height: 400px;
    width: 100%;
    overflow:hidden;
    overflow-y:scroll;
}